pandas>=1.0
numpy>=1.9
seaborn>=0.7.0
matplotlib>=2.1
nltools>=0.5.1
numexpr<2.8.5
scikit-learn>=1.2
pywavelets>=0.3.0
h5py>=2.7.0
Pillow>=6.0.0
torchvision
scikit-image>=0.19
joblib
easing_functions
celluloid
tqdm
kornia
av>=9.2.0
xgboost>=1.6.0
huggingface_hub
safetensors
skops
plotly
