name: Tests on PR

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - master

jobs:
  # Job (1): Run testing in parallel against multiples OSs and Python versions
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    # Determines whether the entire workflow should pass/fail based on parallel jobs
    continue-on-error: ${{ matrix.experimental }}
    defaults:
      # This ensures each step gets properly configured bash shell for conda commands to work
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        # OSs to test
        os: [ubuntu-latest, macos-latest]
        # Python versions to test
        python-version: [3.8, 3.9, "3.10"]
        # By default everything should pass for the workflow to pass
        experimental: [false]
        include:
          # Windows sometimes fails to install due to dependency changes, but eventually sort themselves out. So let these tests fail. Also issue on macos 3.11 with joblib so let that fail
          - os: windows-latest
            python-version: 3.8
            experimental: true
          - os: windows-latest
            python-version: 3.9
            experimental: true
          - os: windows-latest
            python-version: "3.10"
            experimental: true
          - os: windows-latest
            python-version: 3.11
            experimental: true
          - os: macos-latest
            python-version: 3.11
            experimental: true
          - os: ubuntu-latest
            python-version: 3.11
            experimental: false
          - os: macos-14
            python-version: 3.8
            experimental: true
          - os: macos-14
            python-version: 3.9
            experimental: true
          - os: macos-14
            python-version: "3.10"
            experimental: true
          - os: macos-14
            python-version: 3.11
            experimental: true
    steps:
      # Step up miniconda
      - name: Download and setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}

      # Check out latest code on github
      - name: Checkout Code
        uses: actions/checkout@v2

      # Install common sci-py packages via conda as well as testing packages and requirements
      - name: Install Dependencies
        run: |
          conda activate test
          conda env list
          pip install . -r requirements-dev.txt
      # Actually run the tests with coverage
      - name: Run Tests
        run: |
          conda activate test
          conda env list
          ruff check --ignore=W292,E402,E501,E731,E741 feat
          pytest --cov=feat -rs

  # Job (3): Just build jupyter book but don't deploy it.
  docs:
    name: Build docs only
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Upgrade pip
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python3 -m pip install --upgrade pip

      - name: Install deps
        run: |
          python3 -m pip install . -r requirements.txt
          python3 -m pip install -r ./requirements-dev.txt

      - name: Build book
        run: |
          jupyter-book build docs
